body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dde1e7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 6px 10px;
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-face {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
}

.minute,
.hour {
  height: 20px;
  width: 2px;
  background: #5a5a5a;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  transition: all 2s ease-in-out;
  transform-origin: top;
  left: 50%;
}

.hour {
  height: 17px;
}

.Digit {
  display: grid;
  grid-template-columns: 42px 42px 42px 42px;
  grid-template-rows: 42px;
  gap: 3px;
}